{% extends "base.html" %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block body %}
<section style="background-color: #ea2c5a; padding: 10px 20px; text-align: center; color: white;">
    <h1>Conditions Générales de Vente</h1>
</section>

<section style="background: white; padding: 20px; margin-top: 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <h2 style="color: #ea2c5a;">Article 1 : Objet</h2>
    <p>Les présentes conditions régissent les ventes par la société Vide Grenier.</p>

    <h2 style="color: #ea2c5a;">Article 2 : Prix</h2>
    <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TTC), sauf indication contraire et hors frais de traitement et de transport.</p>

    <h2 style="color: #ea2c5a;">Article 3 : Commandes</h2>
    <p>Vous pouvez passer commande sur notre site Internet [insérer URL]. Les informations contractuelles sont présentées en langue française et seront confirmées au plus tard au moment de la validation de votre commande.</p>

    <h2 style="color: #ea2c5a;">Article 4 : Validation de votre commande</h2>
    <p>Toute commande figurant sur le site Internet [Nom du site] suppose l'adhésion aux présentes Conditions Générales. Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve.</p>

    <h2 style="color: #ea2c5a;">Article 5 : Paiement</h2>
    <p>Le fait de valider votre commande implique pour vous l'obligation de payer le prix indiqué. Le règlement de vos achats s'effectue par carte bancaire grâce au système sécurisé [Nom du système de paiement sécurisé].</p>

    <h2 style="color: #ea2c5a;">Article 6 : Rétractation</h2>
    <p>Conformément aux dispositions de l'article L. 121-21 du Code de la consommation, vous bénéficiez d'un délai de rétractation de 14 jours à compter de la réception de vos produits pour exercer votre droit de rétraction sans avoir à justifier de motifs ni à payer de pénalité.</p>

    <h2 style="color: #ea2c5a;">Article 7 : Disponibilité</h2>
    <p>Nos produits sont proposés tant qu'ils sont visibles sur le site [Nom du site] et dans la limite des stocks disponibles. En cas d'indisponibilité de produit après passation de votre commande, nous vous en informerons par mail. Votre commande sera automatiquement annulée et aucun débit bancaire ne sera effectué.</p>

    <h2 style="color: #ea2c5a;">Article 8 : Livraison</h2>
    <p>Les produits sont livrés à l'adresse de livraison que vous avez indiquée au cours du processus de commande.</p>
</section>

{% endblock body %}
