{% extends "base.html" %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block body %}
<header style="background-color: #ea2c5a; padding: 10px 20px; text-align: center; color: white;">
    <h1>Politique des Cookies</h1>
</header>

<section style="background: white; padding: 20px; margin-top: 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <h2 style="color: #ea2c5a;">Qu'est-ce qu'un cookie ?</h2>
    <p>Un cookie est un petit fichier texte sauvegardé sur votre ordinateur ou appareil mobile lors de la visite de certains sites internet. Les cookies sont largement utilisés pour faire fonctionner les sites web efficacement, améliorer l'expérience utilisateur, ainsi que pour fournir des informations aux propriétaires du site.</p>

    <h2 style="color: #ea2c5a;">Comment utilisons-nous les cookies ?</h2>
    <p>Nous utilisons des cookies pour comprendre comment vous utilisez notre site et pour améliorer votre expérience. Cela inclut la personnalisation du contenu, l'activation de certaines fonctionnalités et l'analyse de notre trafic.</p>

    <h2 style="color: #ea2c5a;">Votre choix concernant les cookies</h2>
    <p>Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, ou être informé quand un cookie est envoyé. Chaque navigateur étant différent, nous vous conseillons de consulter l'Aide de votre navigateur pour mieux gérer vos préférences de cookies.</p>

    <h2 style="color: #ea2c5a;">Cookies de tiers</h2>
    <p>Notre site peut inclure des liens vers des sites tiers qui utilisent également des cookies. Nous ne contrôlons pas ces cookies et pour obtenir des informations sur ces cookies, vous devriez consulter la politique de cookies de ces tiers.</p>
</section>

{% endblock body %}
