{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">
            <div class="hidden-xs banner-container">
                <img src="images/login.jpg" alt="">
            </div>
            <div class="banner-text hidden-xs">
                
                <div class="b-text">
                     <span class="color-active">Des centaines<br> </span> <span class="color-b1">d'articles vous attendent </span>
                </div>
                <div class="line"></div>
                <div class="overtext">
                    Plus de 15 articles ajoutés quotidiennement
                </div>
            </div>
            <div class="login-window">
                <div class="l-head">
                    Créer un compte
                </div>
                <div class="l-form">
                    <form method="post" action="">
                        <div id="errorMessages" style="color: red;">
                            {% if error_messages %}
                                {% for key, message in error_messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="John Doe" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                   placeholder="exemple@gmail.com" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="**********" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Votre mot de passe à nouveau</label>
                            <input type="password" class="form-control" id="exampleInputPassword2"
                                   placeholder="**********" name="password-check" required>
                        </div>
                        <div class="row">
                            <div class="col-lg-7"><button type="submit" name="submit" class="btn btn-cv1">Valider
                            </button></div>
                            <div class="hidden-xs">
                                <div class="col-lg-1 ortext">ou</div>
                                <div class="col-lg-4 signuptext"><a href="/login">Connexion</a></div>
                            </div>
                        </div>
                        <div class="visible-xs text-center mt-30">
                            <span class="signuptext"><a href="/login">Se connecter</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");
        form.addEventListener("submit", function(event) {
            let errors = [];
            const email = document.getElementById("exampleInputEmail1").value;
            const password = document.getElementById("exampleInputPassword1").value;
            const passwordCheck = document.getElementById("exampleInputPassword2").value;

            if (!email) {
                errors.push("L'email est obligatoire.");
            } else if (!email.match(/^[^@]+@[^@]+\.[^@]+$/)) {
                errors.push("Le format de l'email n'est pas valide.");
            }

            if (!password) {
                errors.push("Le mot de passe est obligatoire.");
            } else if (password.length < 8) {
                errors.push("Le mot de passe doit contenir au moins 8 caractères.");
            }

            if (password !== passwordCheck) {
                errors.push("Les mots de passe ne correspondent pas.");
            }

            if (errors.length > 0) {
                event.preventDefault();

                const errorDiv = document.getElementById("errorMessages");
                errorDiv.innerHTML = '';

                errors.forEach(function(error) {
                    const errorText = document.createElement('p');
                    errorText.textContent = error;
                    errorDiv.appendChild(errorText);
                });
            }
        });
    });
</script>
{% endblock %}
